<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>My {{pageTitle}}</title>
</head>

  <body>
    {{> header}}
    <p>La page est actuellement en maintenance</p>
  </body>
  {{> footer}}
</html>
